.main-content {
  .form-wrapper {
    width: 72rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f4f7;

    form {
      width: 41%;
      background-color: #fff;
      border-radius: 8px;
      border: 2px solid #6e5aea;

      .form-header {
        display: flex;
        justify-content: center;
        padding: 2.2rem 4rem 0.9rem 4rem;
        font-weight: bold;
        color: #0c0c0c;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;

        @include respond(max-767px) {
          padding-top: 2rem;
        }
      }

      .form-bottom-content {
        padding: 0 4rem 2.3rem 4rem;

        .social-login {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.3rem;

          .social-login__header {
            font-size: 1rem;
            padding-bottom: 1.4rem;
            font-family: 'Roboto', sans-serif;

            @include respond(max-667px) {
              padding-bottom: 1.3rem;
            }
          }

          .social-login__links {
            width: 100%;
            display: flex;

            .social-login-link {
              background-color: yellow;
              flex-grow: 1;
              padding-bottom: 0.5rem;
              padding-top: 0.6rem;
              border-radius: 2px;

              a {
                text-decoration: none;
              }

              &.facebook-sign-in {
                padding-right: 1.2rem;
                padding-left: 1.2rem;
                display: flex;
                justify-content: center;
                background-color: #43639a;
                border-color: #43639a;
                color: #fff;

                .social-icon {
                  font-size: 1.6rem;
                  color: #fff;
                }
              }

              &.github-sign-in {
                padding-right: 1.2rem;
                padding-left: 1.2rem;
                display: flex;
                justify-content: center;
                margin: 0 0.7rem;
                background-color: #444454;
                border-color: #444454;
                color: #fff;

                .social-icon {
                  font-size: 1.6rem;
                  color: #fff;
                  padding: 0;
                }
              }

              &.google-sign-in {
                background-color: #fff;
                font-family: 'Arimo', sans-serif;
                border: 0.1rem solid #c9cbce;

                img {
                  padding-left: 1.3rem;
                  padding-right: 0.9rem;
                }

                a {
                  display: flex;
                  align-items: center;
                  padding-left: 1.5rem rem;
                  min-width: 121px;
                  background-color: #fff;
                  border-color: #c9cbce;
                  color: rgba(0, 0, 0, 0.54);
                  font-weight: 500;
                }

                .google-sign-in__text {
                  font-size: 1rem;
                  padding: 0.5rem;
                  letter-spacing: 0.02rem;
                }

                span {
                  @include respond(max-767px) {
                    margin-left: auto;
                    margin-right: auto;
                    width: 38%;
                    font-size: 0.9rem;
                  }
                }
              }

              @include respond(max-767px) {
                padding-bottom: 0.3rem;
              }
            }
          }
        }

        .field {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.3rem;
          font-family: 'Inter', sans-serif;

          input {
            padding: 0.8rem;
            background-color: #fff;
            color: #323241;
            border: 1px solid #737479;
            border-radius: 0.2rem;

            @include respond(max-767px) {
              padding: 0.7rem;
            }
          }

          label {
            color: #0c0c0c;
            font-size: 0.8rem;
            line-height: 1.3rem;
            font-weight: 400;
          }
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1.4rem;

          .forgot-password {
            font-size: 0.7rem;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            a {
              text-decoration: none;
              color: #6e5aea;
            }
          }

          .user-remember-me {
            display: flex;
            align-items: center;

            input {
              &[type='checkbox'] {
                width: 14px;
                height: 14px;
              }
            }

            label {
              color: #797676;
              font-size: 1rem;
              font-family: 'GFS Neohellenic', sans-serif;
            }

            .user-remember-me__checkbox {
              min-width: 22px;
              min-height: 22px;
              margin: 0.1rem 0.6rem 0.1rem 0;
              border: 1px solid #737479;
              border-radius: 0.2rem;
            }
          }
        }

        button {
          font-weight: 700;
          background-color: #6e5aea;
          border: 1px solid #6e5aea;
          border-radius: 9px;
          padding: 0.7rem 1.4rem;
          color: #fff;
        }

        @include respond(max-767px) {
          width: 100%;
          padding: 0 1.2rem 2.3rem 1.2rem;
        }
      }

      @include respond(tab-land) {
        width: 48%;
      }

      @include respond(max-990px) {
        width: 30rem;
      }

      @include respond(max-767px) {
        width: 100%;
      }
    }

    @include respond(tab-land) {
      width: 60rem;
    }
  }

  .create-account {
    width: 41%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;

    a {
      text-decoration: none;
      padding-left: 0.3rem;
      color: darken(#3018c0, 5%);
      font-weight: 400;
    }

    span {
      color: #595a60;
      font-weight: 300;
    }

    @include respond(tab-land) {
      width: 48%;
    }

    @include respond(max-767px) {
      width: 100%;
    }
  }
}
