@import 'mixins.scss';
@import 'sign-in-page.scss';

/** RESET **/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
p,
a,
em,
img,
small,
strike,
strong,
b,
u,
i,
center,
ul,
li,
fieldset,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

body,
p,
h1,
ul,
nav,
input,
form {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  min-height: 100vh;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  font-style: normal;
  font-size: 1.2rem;
}

.main-wrapper {
  flex-grow: 1;
  background-color: #f5f4f7;
  .main-content {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }
}

/** NAV **/
.nav {
  display: flex;
  justify-content: center;
  height: 4.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .logo {
    width: 113px;
    height: 35px;
  }

  .toggle-icon {
    width: auto;
  }

  img {
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
  }

  .jobseeker-dropdown,
  .employer-dropdown {
    span {
      color: #0c0c0c;
      padding-right: 5px;
      display: block;
    }
  }

  .centered-nav {
    display: flex;
    width: 74rem;
    justify-content: space-between;
    align-items: center;

    .left-nav {
      flex: 1 0;
    }

    .right-nav__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;

      li:not(:first-child) {
        margin: 0 0 0 40px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.6rem 0.5rem;
        color: #fff;

        &:link {
          text-decoration: none;
        }
      }
    }

    .log-in-link {
      a {
        color: #6e5aea;
      }
    }
    .sign-up-link {
      padding: 10px 35px;
      height: 50px;
      background-color: #6e5aea;
      border-radius: 0.5rem;
    }
  }
}

/** FOOTER **/
.footer-wrapper {
  background-color: #180c60;
  display: flex;
  justify-content: center;

  .footer-content {
    width: 74rem;
    padding: 5.4rem 0 2.6rem 0;

    a {
      text-decoration: none;
      font-family: Roboto, sans-serif;
    }

    .footer-branding {
      img {
        max-width: 100%;
        font-style: italic;
        vertical-align: middle;
      }
    }

    .footer-menu {
      display: flex;

      .footer-branding {
        display: flex;

        .left-branding-icon {
          height: 3rem;
          width: 3rem;
          border-right: solid 1px #47249b;
          padding-right: 0.6rem;
          margin-right: 0.6rem;
          display: flex;
          align-items: center;
        }
        .footer-logo {
          padding-top: 0.7rem;

          img {
            height: 1.5rem;
          }
        }
      }

      .footer-social-links {
        padding-top: 1.2rem;
        a {
          &:not(:first-child) {
            margin-left: 0.4rem;
          }
        }
      }

      .column {
        flex-basis: 20%;

        .column__header {
          color: #6e5aea;
          font-family: 'Poppins', sans-serif;
          font-size: 0.9rem;
        }
        .column__links {
          margin-top: 1.1rem;
          a {
            color: #fff;
            font-size: 1rem;
          }
          li:not(:first-child) {
            margin-top: 1.4rem;
          }
        }
      }
    }

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      background-color: #180c60;
      margin-top: 8.6rem;
      color: #6e5aea;
      font-size: 0.8rem;
      font-family: Roboto, sans-serif;
      font-weight: 500;

      .bottom-left {
        display: flex;
        align-items: center;
      }

      .bottom-right {
        .bottom-right__links {
          display: flex;

          a {
            color: #6e5aea;
          }

          li:not(:first-child) {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
